@model cloudscribe.DynamicPolicy.Web.Mvc.ViewModels.PolicyListViewModel
@inject IStringLocalizer<PolicyResources> sr
@inject IRoleSelectorProperties roleSelector
@inject cloudscribe.DynamicPolicy.Models.ITenantIdProvider tenantIdProvider
@{
    ViewData["Title"] = sr["Authorization Policies"];
    var tenantId = tenantIdProvider.GetTenantId();
}

@functions{
    public string GetDescription(AuthorizationPolicyInfo item)
    {
        if (!string.IsNullOrEmpty(item.RequiredUserName))
        {
            var format = sr["Only {0} is allowed"];
            return string.Format(CultureInfo.CurrentUICulture, format, item.RequiredUserName);
        }

        string result = "";
        var roleCount = item.AllowedRoles.Count;
        if(roleCount > 0)
        {
            var format = sr["Allowed roles: {0}"];
            result += string.Format(CultureInfo.CurrentUICulture, format, string.Join(",",item.AllowedRoles));

        }
        var claimCount = item.RequiredClaims.Count;
        if(claimCount > 0)
        {
            result += sr[" Has Claim Requirements"];
        }

        if(!string.IsNullOrEmpty(result))
        {
            return result;
        }



        if(item.RequireAuthenticatedUser)
        {
            return sr["Requires authenticated user"];
        }


        return sr["Allows anonymous access"];
    }
}

<h2>@ViewData["Title"]</h2>

<form class="form-inline mb-3" role="form" asp-controller="PolicyManagement" asp-action="Index" method="get" asp-antiforgery="false">
    
    <div class="row align-items-center mt-1 mb-2 gx-2">
        <div class="col-12 col-sm-2 w-auto align-self-center">
            <label asp-for="Q" class="visually-hidden">@sr["Search by policy name"]</label>
            <input asp-for="Q" name="q" class="form-control mb-1" placeholder="@sr["Search by name"]" />
        </div>

        <div class="col-7 col-sm-3 align-self-center">
            <label for="FilterRolesCsv" class="visually-hidden">@sr["Search by roles"]</label>
            <input asp-for="FilterRolesCsv" name="roles" class="form-control mb-1" id="FilterRolesCsv" autocomplete="off" placeholder="@sr["Search by roles"]" />
        </div>

        <div class="col-5 col-sm-auto align-self-center">
            <a class="btn btn-primary mb-1"
               cdp-role-selector="@roleSelector"
               cdp-tenant-id="@tenantId"
               cdp-target-id="FilterRolesCsv">@sr["Select Roles"]</a>
        </div>
    </div>

    <div class="row align-items-left mt-1 mb-3 gx-2">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">@sr["Search"]</button>
        </div>

        <div class="col-auto">
            <a class="btn btn-outline-secondary" asp-controller="PolicyManagement" asp-action="Index">@sr["Clear Search Filters"]</a>
        </div>

        <div class="col-auto mt-2 mt-sm-0">
            <a class="btn btn-outline-primary" asp-controller="PolicyManagement" asp-action="NewPolicy">@sr["Create New Policy"]</a>
        </div>
    </div>

@if (Model.Policies.Data.Count == 0)
{
    <div class="alert alert-info">
        @sr["No policies found. Try clearing filters."]
    </div>
}
else
{
<table class="table table-striped mb-2">
    <thead>
        <tr>
            <th></th>
            <th>
                @sr["Name"]
            </th>
            <th>
                @sr["Requirements"]
            </th>
            <th>
                @sr["Notes"]
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Policies.Data)
        {
            <tr>
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="PolicyManagement" asp-action="EditPolicy" asp-route-id="@item.Id">@sr["Edit"]</a>
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @GetDescription(item)
                </td>
                <td>
                    @item.Notes
                </td>
                 
            </tr>
        }
    </tbody>
</table>
}

<cs-pager asp-action                   ="Index" asp-controller="PolicyManagement"
          asp-route-q                  ="@Model.Q"
          asp-route-roles              ="@Model.FilterRolesCsv"
          asp-route-pagesize           ="@Model.Policies.PageSize"
          cs-paging-pagesize           ="@Model.Policies.PageSize"
          cs-paging-pagenumber         ="@Model.Policies.PageNumber"
          cs-paging-totalitems         ="@Model.Policies.TotalItems"
          cs-first-page-title          ='@sr["First Page"]'
          cs-last-page-title           ='@sr["Last Page"]'
          cs-previous-page-title       ='@sr["Previous page"]'
          cs-next-page-title           ='@sr["Next page"]'
          cs-pager-ul-class            ="pagination d-flex flex-wrap"
          cs-pager-li-current-class    ="page-item active"
          cs-pager-li-other-class      ="page-item"
          cs-pager-li-non-active-class ="page-item disabled"
          cs-pager-link-current-class  ="page-link"
          cs-pager-link-other-class    ="page-link"></cs-pager>

    <div class="row align-items-left mt-1 mb-1 gx-2">
        <div class="col-2 w-auto align-self-center">
            <label asp-for="PageSize" class="me-1">@sr["Page Size"]</label>
        </div>
        <div class="col-2 w-auto align-self-center">
            <input asp-for="PageSize" class="form-control me-1" style="max-width:80px;" placeholder="@sr["Page Size"]" title="@sr["Page Size"]" />
        </div>

        <div class="col-3 w-auto align-self-center">
            <button id="btnSearch" name="command" value="search" type="submit" class="btn btn-primary me-1">@sr["Apply"]</button>
        </div>
    </div>
</form>

@section Scripts {
    @if (roleSelector.RequiredScriptPaths != null)
    {
        foreach (var s in roleSelector.RequiredScriptPaths)
        {
            <script src="@Url.Content(s)"></script>
        }
    }
}